@import '../../scss/base.scss';
@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.not-found-page {
    min-height: 100vh;
    background-color: $primaryBlue;
    color: $white;
    left: $menuLeftWidth;
    @include padding(5px 50px 50px 50px);

    @include displayFlex(
        $direc: column,
        $wrap: nowrap,
        $justy: flex-start,
        $align: center
    );

    &__content {
        width: 100%;
        height: 100%;
        @include displayFlex(
            $direc: column,
            $wrap: nowrap,
            $justy: center,
            $align: center
        );

        a {
            width: fit-content;
        }
    }
}
