// background color
$primaryBlue: #1d375a;
$secondaryBlue: #344b6b;
$darkBlue: #172c48;

// text color
$titleColor: #fff;
$subTitleColor: #8c99ab;
$linkColor: #dadada;
$dividerColor: #3f5472;

// general color
$white: #fff;
$yellow: #ffdb00;

// component size
$menuLeftWidth: 250px;

// svgs
$zingmp3Logo: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);

// breakpoints
$xs: 0;
$sm: 600;
$md: 900;
$lg: 1200;
$xl: 1536;
