@import "../mixins.scss";
@import "../variables.scss";

.header {
  height: 55px;
  width: 100%;
  @include displayFlex(
    $direc: row,
    $wrap: nowrap,
    $justy: space-between,
    $align: center
  );

  &--left {
    height: 100%;
    width: 60%;
    z-index: $baseZIndex;
    @include displayFlex(
      $direc: row,
      $wrap: nowrap,
      $justy: flex-start,
      $align: center
    );
    i {
      font-size: 20px;
      margin-right: 30px;
      z-index: $baseZIndex;
      cursor: pointer;
    }
  }
  &--search {
    height: 40px;
    width: 70%;
    background-color: $secondaryBlue;
    z-index: $baseZIndex;
    @include displayFlex(
      $direc: row,
      $wrap: nowrap,
      $justy: flex-start,
      $align: center
    );
    border-radius: 20px;
    margin-left: 0;
    padding-left: 10px;
    i {
      font-size: 20px;
      margin-right: 10px;
    }
  }
  input {
    width: 80%;
    height: 80%;
    z-index: $baseZIndex;
    outline: none;
    border: none;
    background-color: $transparent;
    color: $white;
    &::placeholder {
      color: $white;
      font-size: $textFontsize;
    }
  }
  input[type="text"] {
    color: $white;
  }
  &--right {
    width: 20%;
    height: 100%;
    @include displayFlex(
      $direc: row,
      $wrap: nowrap,
      $justy: space-between,
      $align: center
    );
    button {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      z-index: $baseZIndex;
      background-color: $secondaryBlue;
      cursor: pointer;
      &:hover {
        filter: opacity($primaryOpacity);
      }
    }
    i {
      font-size: 20px;
      color: $white;
      @include displayFlex(
        $direc: row,
        $wrap: nowrap,
        $justy: center,
        $align: center
      );
      transition: $primaryTransition;
    }
    @include maxWidth($lg) {
      width: 30%;
    }
    @include maxWidth($md) {
      width: 35%;
    }
  }
  &--avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: $zingpm3UserIcon;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: relative;
    z-index: $baseZIndex;
    &:hover {
      filter: opacity($primaryOpacity);
    }
  }
  &--popup {
    height: auto;
    width: 235px;
    background-color: $brightBlue;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    @include position($top: 65px, $right: 52px, $zIndex: 3);
    opacity: 0;
    visibility: hidden;
    @include displayFlex(
      $direc: column,
      $wrap: nowrap,
      $justy: space-between,
      $align: center
    );
    i {
      width: 50px;
      font-size: 20px;
    }
    p {
      line-height: 16.8px;
      font-weight: 300;
      margin: 0;
    }
    &--vip {
      height: auto;
      width: 100%;
      border-bottom: 1px solid $gray;
      margin-top: 10px;
      @include displayFlex(
        $direc: column,
        $wrap: nowrap,
        $justy: center,
        $align: center
      );
    }
    &--upgrade {
      height: $optionPopupHeight;
      width: 100%;
      cursor: pointer;
      @include displayFlex(
        $direc: row,
        $wrap: nowrap,
        $justy: flex-start,
        $align: center
      );
      &:hover {
        background-color: $opacityWhite;
      }
    }
    &--buy {
      height: $optionPopupHeight;
      width: 100%;
      margin-bottom: 10px;
      cursor: pointer;
      @include displayFlex(
        $direc: row,
        $wrap: nowrap,
        $justy: flex-start,
        $align: center
      );
      &:hover {
        background-color: $opacityWhite;
      }
    }
    &--logout {
      height: $optionPopupHeight;
      width: 100%;
      margin: 10px;
      cursor: pointer;
      @include displayFlex(
        $direc: row,
        $wrap: nowrap,
        $justy: flex-start,
        $align: center
      );
      &:hover {
        background-color: $opacityWhite;
      }
    }
    &.open {
      opacity: 1;
      visibility: inherit;
    }
  }
  &--backdrop {
    @include backdropStyles($left: 0, $top: 0);
    &.show {
      visibility: inherit;
    }
  }
}
