body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
  border-radius: 5px;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  width: 100%;
  text-decoration: none;
  color: #dadada;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

button {
  padding: 8px 15px;
  outline: none;
  border: none;
}

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: 0.5s ease-in-out;
}
.home__menu {
  width: 250px;
  height: 100vh;
  background-color: #1c2a49;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  box-sizing: border-box;
  padding: 0 10px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}
.home__menu a {
  cursor: pointer;
  z-index: 3;
}
.home__menu a:hover {
  color: #fff;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .home__menu a {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }
  .home__menu a span {
    display: none;
  }
  .home__menu a:hover {
    color: #fff;
    position: relative;
  }
  .home__menu a:hover:not(:first-of-type)::after {
    width: 70px;
    padding: 3px 5px;
    content: attr(tooltip);
    position: absolute;
    z-index: 100;
    bottom: unset;
    left: 100%;
    right: unset;
    top: 50%;
    border-radius: 5px;
    color: #000000;
    background-color: #fff;
    transform: translate(0%, -50%);
    transition: 0.5s ease-in-out;
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .home__menu {
    width: 70px;
    transition: 0.2s ease-in-out;
  }
}
.home__menu--logo {
  height: 40px;
  margin: 20px 0 14px 0;
  z-index: 3;
  background: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg) 13%/contain no-repeat;
}
@media screen and (max-width: 1200px) {
  .home__menu--logo {
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.29/static/media/icon_zing_mp3_60.f6b51045.svg);
    background-repeat: no-repeat;
    height: 45px;
  }
}
.home__menu--divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  border-top: 1px solid #3f5472;
}
.home__menu--vip {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
.home__menu--vip button {
  width: 100%;
  margin-top: 16px;
  background-color: #ffdb00;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .home__menu--vip {
    display: none;
  }
}
.home__content {
  width: calc(100vw - 250px);
  min-width: 800px;
  background-color: #101f3f;
  color: #fff;
  position: absolute;
  left: 250px;
  box-sizing: border-box;
  padding: 5px 50px 50px 50px;
}
@media screen and (max-width: 1200px) {
  .home__content {
    width: calc(100vw - 70px);
    left: 70px;
  }
}

.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 13px;
}
.homepage__poster {
  width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 20px 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.homepage__poster--item {
  height: auto;
  width: 33%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  z-index: 3;
}
.homepage__poster--item img {
  height: auto;
  width: 100%;
  background-image: cover;
}
.homepage__poster--item.slick-slide {
  box-sizing: border-box;
  padding: 0 5px;
  z-index: 3;
}
.homepage__poster button {
  opacity: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 3;
  top: 40%;
  border-radius: 50%;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .homepage__poster button {
    height: 30px;
    width: 30px;
  }
}
.homepage__poster button.slick-prev {
  left: 5px;
}
.homepage__poster button.slick-next {
  right: 5px;
}
.homepage__poster:hover button {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.homepage__trending {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.homepage__trending--button {
  height: 30px;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.homepage__trending--button button {
  width: 90px;
  background-color: transparent;
  border: 1px solid rgb(137, 133, 133);
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  text-align: center;
}
.homepage__trending--all {
  width: 100px;
  cursor: pointer;
}
.homepage__trending--all i {
  padding-left: 10px;
}
.homepage__trending--all:hover {
  color: #bd4dbd;
}
.homepage__trending--content {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__trending--col {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__trending--card {
  height: 25%;
  width: 100%;
  z-index: 3;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}
.homepage__trending--card h4 {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.homepage__trending--cover {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__trending--img {
  height: 100%;
  width: 70px;
  background-size: cover;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.homepage__trending--title {
  height: 100%;
  width: 55%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  flex-wrap: nowrap;
}
.homepage__trending--title span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5019607843);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.homepage__trending--icon {
  width: 85%;
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__trending--card:hover .homepage__trending--icon {
  opacity: 1;
}
.homepage__trending--card:hover .homepage__trending--img {
  opacity: 0.3;
}
.homepage__trending--card:hover {
  background: rgba(255, 255, 255, 0.126);
}
.homepage__weekend {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.homepage__weekend--row {
  height: 95%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px !important;
}
.homepage__weekend--card {
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.homepage__weekend--cover {
  height: 75%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.homepage__weekend--cover * {
  transition: all 0.3s;
}
.homepage__weekend--cover img {
  height: 60%;
  width: 100%;
  border-radius: 5px;
}
.homepage__weekend--cover-backdrop {
  z-index: 100;
  bottom: unset;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: unset;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__weekend--cover-backdrop button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
.homepage__weekend--cover-backdrop button:nth-child(2) {
  height: 60px;
  width: 60px;
}
.homepage__weekend--cover-backdrop button:nth-child(2) > i {
  font-size: 40px;
}
.homepage__weekend--cover-backdrop button:hover {
  background-color: rgba(255, 255, 255, 0.126);
}
.homepage__weekend--cover-backdrop button:nth-child(2):hover {
  background-color: transparent;
}
.homepage__weekend--cover-backdrop i {
  color: #fff;
  font-size: 17px;
}
.homepage__weekend--cover:hover > .homepage__weekend--cover-backdrop {
  opacity: 1;
  visibility: initial;
  background-color: rgba(0, 0, 0, 0.336);
}
.homepage__weekend--cover:hover img {
  transform: scale(1.1);
}
.homepage__weekend--img {
  height: 100%;
  width: 100%;
}
.homepage__weekend h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  margin-top: 10px;
  cursor: pointer;
}
.homepage__weekend h4:hover {
  color: #bd4dbd;
}
.homepage__weekend span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5019607843);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.homepage__new {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.homepage__new--row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px !important;
}
.homepage__new--card {
  width: 100%;
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.homepage__new--cover {
  height: 75%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.homepage__new--cover * {
  transition: all 0.3s;
}
.homepage__new--cover img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.homepage__new--cover-backdrop {
  z-index: 100;
  bottom: unset;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: unset;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__new--cover-backdrop button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
.homepage__new--cover-backdrop button:nth-child(2) {
  height: 60px;
  width: 60px;
}
.homepage__new--cover-backdrop button:nth-child(2) > i {
  font-size: 40px;
}
.homepage__new--cover-backdrop button:hover {
  background-color: rgba(255, 255, 255, 0.126);
}
.homepage__new--cover-backdrop button:nth-child(2):hover {
  background-color: transparent;
}
.homepage__new--cover-backdrop i {
  color: #fff;
  font-size: 17px;
}
.homepage__new--cover:hover > .homepage__new--cover-backdrop {
  opacity: 1;
  visibility: initial;
  background-color: rgba(0, 0, 0, 0.336);
}
.homepage__new--cover:hover img {
  transform: scale(1.1);
}
.homepage__new--img {
  height: 100%;
  width: 100%;
}
.homepage__new h4 {
  margin: 0;
  box-sizing: border-box;
  padding: 5px 0;
  font-size: 14px;
  color: #fff;
}
.homepage__new h4:hover {
  color: #bd4dbd;
}
.homepage__new a {
  padding: 0;
  display: inline;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.homepage__new a:hover {
  color: #bd4dbd;
}
.homepage__new span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5019607843);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.homepage__zingchart {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px !important;
  box-sizing: border-box;
  padding: 30px 0 0 0;
}
.homepage__zingchart--item {
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
.homepage__zingchart--item * {
  transition: all 0.3s;
}
.homepage__zingchart--item img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.homepage__zingchart--item:hover img {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.homepage__singer {
  width: 100%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.homepage__singer--item {
  cursor: pointer;
  z-index: 3;
}
.homepage__singer--item img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
}
.homepage__singer--item:hover img {
  filter: opacity(0.7);
}
.homepage__singer--item:hover img * {
  transition: all 0.3s;
}
.homepage__singer--item.slick-slide {
  box-sizing: border-box;
  padding: 0 5px;
}
.homepage__singer button {
  opacity: 0;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 3;
  top: 40%;
  border-radius: 50%;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .homepage__singer button {
    height: 30px;
    width: 30px;
  }
}
.homepage__singer button.slick-prev {
  left: 5px;
}
.homepage__singer button.slick-next {
  right: 5px;
}
.homepage__singer:hover button {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.homepage__event {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px !important;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__event--item {
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  cursor: pointer;
}
.homepage__event--img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.homepage__event--img * {
  transition: all 0.3s;
}
.homepage__event--img span {
  font-size: 9px;
  box-sizing: border-box;
  padding: 2px 4px;
  border-radius: 2px;
  color: #ff0101;
  background-color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .homepage__event--img span {
    font-size: 7px;
  }
}
.homepage__event--img h4 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  margin: 2px;
}
@media screen and (max-width: 900px) {
  .homepage__event--img h4 {
    font-size: 14px;
  }
}
.homepage__event--img p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .homepage__event--img p {
    font-size: 12px;
  }
}
.homepage__event--img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.homepage__event--img img * {
  transition: all 0.3s;
}
.homepage__event--img:hover img {
  transform: scale(1.05);
  filter: opacity(0.7);
}
.homepage__event--title {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: unset;
  top: unset;
  box-sizing: border-box;
  padding: 10px;
}
.homepage__event--title h4 {
  margin: 8px 0;
}
@media screen and (max-width: 900px) {
  .homepage__event--title h4 {
    margin: 5px 0;
  }
}
.homepage__event--care {
  box-sizing: border-box;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__event--care p {
  width: 45%;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .homepage__event--care p {
    font-size: 12px;
  }
}
.homepage__event--care button {
  border-radius: 20px;
  background-color: #bd4dbd;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .homepage__event--care button {
    height: auto;
    font-size: 8px;
  }
}
.homepage__event--care button:hover {
  filter: opacity(0.7);
}
.homepage__footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.homepage__footer h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  line-height: 1.5;
  letter-spacing: 1.71px;
  color: rgba(255, 255, 255, 0.5019607843);
  font-family: Inter, sans-serif;
  cursor: pointer;
}
.homepage__footer h3:hover {
  color: #bd4dbd;
}
.homepage__footer--row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.homepage__footer--item {
  width: 120px;
  height: 70px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}
.homepage__footer--item img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

/*# sourceMappingURL=styles.css.map */
