@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

body {
  padding: 0;
  margin: 0;
}

.top100__page {
  width: 100%;

  .home__menu {
    position: fixed;
    height: 100%;
  }
}

.top100 {
  position: relative;
  right: -$menuLeftWidth;
  width: calc(100% - $menuLeftWidth);
  background-color: $darkBlue2;
  @include maxWidth($lg) {
    right: -70px;
    width: calc(100% - 70px);
  }
  .header {
    .fa {
      color: $titleColor;
    }
    @include padding(0px 59px);
    @include maxWidth($md) {
      @include padding(0px 29px);
    }
    .header--right {
      width: auto;
    }
    .header--popup {
      color: $titleColor;
    }
  }

  &__banner {
    height: 280px;
    width: 100%;
    position: relative;
    padding: (0px -59px) !important;
    &--bg-blur,
    &--bg-alpha,
    &--bg-alpha2 {
      height: 260px;
      position: absolute;
      @include position($right: 0, $left: 0, $bottom: 0, $top: 0);
    }

    &--bg-blur {
      @include displayFlex($justy: center, $align: center);
      height: 260px;
      width: 100%;
      background: url(../../images/top100__background.png) top/cover no-repeat;
      filter: grayscale(1);
    }

    &--bg-alpha {
      background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 37%,
        $primaryBlue
      );
    }

    &--bg-alpha1 {
      height: 260px;
      position: absolute;
      @include position($right: 0, $left: 0, $bottom: 0, $top: 0);
      opacity: 0.8;
      background-image: linear-gradient(180deg, $primaryBlue, $primaryBlue);
    }
    &--bg-alpha2 {
      @include displayFlex($justy: center, $align: center);
      img {
        @include padding(20px 0px);
        @include maxWidth($md) {
          width: 100%;
          padding-left: 30px;
        }
      }
    }
  }

  &__playlist {
    height: auto;
    @include padding(0px 59px);
    @include maxWidth($md) {
      @include padding(0px 29px);
    }

    &--title {
      margin: 0;
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: $primaryFontWeight;
      text-transform: capitalize;
      color: $white;
      @include maxWidth($lg) {
        font-size: 30px;
      }
    }

    &--columns {
      @include displayInlineFlex($gap: 20px);
      width: 100%;
      overflow: hidden;
    }

    .top100__column {
      width: calc(20% - $columnMargin);
      height: auto;
      margin-bottom: 30px;
      @include maxWidth($xl) {
        width: calc(20% - $columnMargin);
      }
      @include maxWidth($md) {
        width: calc(33% - $columnMargin);
      }
      @include maxWidth($sm) {
        width: calc(50% - $columnMargin);
      }

      &--img {
        width: 100%;
        overflow: hidden;
        border-radius: $borderRadiusImg;
        position: relative;
        cursor: pointer;

        img {
          height: auto;
          width: 100%;
          border-radius: $borderRadiusImg;
          transition: $primaryTransition;
        }

        .top100__icon--hover {
          height: 100%;
          width: 100%;
          font-weight: $secondaryFontWeight;
          position: absolute;
          visibility: hidden;
          transition: $secondaryTransition;
          @include padding(0px 20px);
          @include position($right: 0, $left: 0, $bottom: 0, $top: 0);
          @include stackIcon();
          a {
            width: 100%;
            height: 100%;
            @include displayFlex($align: center, $justy: center);
          }

          .top100__icon--big {
            height: 40px;
            width: 40px;
            background-color: none;
            border-radius: 50%;
            border: 1px solid $white;
            @include displayFlex($align: center, $justy: center);
            padding: 0;
            a {
              width: 100%;
              height: 100%;
              @include displayFlex($align: center, $justy: center);
            }

            .fa-solid {
              border-radius: 50%;
              font-size: 25px;
              font-weight: $secondaryFontWeight;
              color: $white;
              opacity: 1;
            }
          }

          .top100__icon {
            height: 25px;
            width: 25px;
            border-radius: 50%;

            @include displayFlex($align: center, $justy: center);

            .fa-solid {
              border-radius: 50%;
              font-size: 18px;
              font-weight: $secondaryFontWeight;
              color: $white;
              opacity: 1;
            }
          }

          .top100__icon:hover {
            background-color: $opacityWhite;
          }
        }
        &:hover > .top100__icon--hover {
          opacity: 1;
          visibility: inherit;
          background-color: $opacityBlack;
        }

        &:hover > img {
          transform: scale(1.1);
          transition: $primaryTransition;
        }
      }

      &--title {
        height: auto;
        width: 100%;
        margin-top: 8px;

        a {
          padding: 0;
          width: auto;
          span {
            font-size: 14px;
            font-weight: $primaryFontWeight;
            color: $white;
            display: block;
            margin-top: 3px;
            @include oneLineTextOverflow();
            @include maxWidth($lg) {
              font-size: 16px;
            }
            @include maxWidth($md) {
              font-size: 14px;
            }
            @include maxWidth($sm) {
              font-size: 16px;
            }
          }
          span:hover {
            color: $purpose;
          }
        }

        h3 {
          margin-top: 5px;
          padding: 0;
          font-size: 14px;
          color: $subTitleColor;
          font-weight: 400;

          a {
            padding: 0;
            display: inline;
            font-size: 14px;
            color: $subTitleColor;
            @include maxWidth($lg) {
              font-size: 14px;
            }
            @include maxWidth($md) {
              font-size: 10px;
            }
            @include maxWidth($sm) {
              font-size: 14px;
            }
          }
          a:hover {
            text-decoration: underline;
            color: $purpose;
          }
        }
      }
    }
  }
}
